/*   color variables */
$clr-gray100: #dfe9f0;
$clr-gray200: #dbeaf6;
$clr-gray300: #e1e5ee;
$clr-gray500: #646d80;
$clr-background: #fafafa;
$clr-label-name: #7e8f99;
$clr-dark-blue: #012169;
$clr-dark-orange: #f54a00;
$clr-light-orange: #f76e33;
$clr-sky-blue: #ecf1f5;
$clr-light-blue: #a1c5e1;
$clr-dashboard: #eaeaea;
$clr-table-content: #404040;
$clr-check: #60ff8c;

/*   border radius */
$radius: 0.2rem;
