/*   color variables */
$clr-gray100: #DFE9F0;
$clr-gray200: #DBEAF6;
$clr-gray300: #e1e5ee;
$clr-gray500:#646D80;
$clr-background:#FAFAFA;
$clr-label-name:#7E8F99;
$clr-dark-blue: #012169;
$clr-dark-orange: #F54A00;
$clr-light-orange: #F76E33;
$clr-sky-blue:#ECF1F5;
$clr-light-blue:#A1C5E1;
$clr-dashboard:#EAEAEA;
$clr-table-content:#404040;
$clr-check:#60FF8C;


/*   border radius */
$radius: 0.2rem;