@import "variables";

.auth-layout-body {
  .auth-layout-container {
    height: 100vh;
  }
  .auth-layout-row {
    .auth-margin {
      margin: 3rem 0rem 2rem 0rem;
    }
    height: 100vh;
    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .auth-hero-container {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      .img-logo {
        margin: 1rem 0rem;
      }
    }
  }
}
