@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Graphik;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mandatory-star {
  color: $clr-dark-orange;
  font-weight: 800;
  padding-left: 2px;
}
.custom-btn {
  background-color: $clr-dark-orange;
  border: 1px solid $clr-dark-orange;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-btn2 {
  background-color: $clr-dark-orange;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  padding: 0.3rem 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  color: $clr-dark-blue;
  text-transform: capitalize;
  font-size: 0.875rem;
  padding: 0.3rem 0rem;
  font-weight: 500;
  span {
    opacity: 0.4;
  }
}
.page-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: $clr-dark-blue;
  padding-bottom: 0.5rem;
}
.page-name-link {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: $clr-light-orange;
  padding-bottom: 0.5rem;
}
.elip-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.point-but{
  cursor: pointer;
}
.not-found {
  color: $clr-dark-blue;
  font-size: 1rem;
  text-align: center;
  padding: 2rem 0rem;
  font-weight: 500;
}
.totalCount{
  padding: 0.5rem;
  color: $clr-dark-blue;
  font-weight: 500;
}
.loader-cart{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 25rem;
}


.border-box {
  border-bottom: 1.5px solid $clr-dark-blue;
}

.sticky-scroll {
  min-height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
}
.edit-icon {
  color: $clr-dark-blue;
  font-size: 1.2rem;
  cursor: pointer;
}
.check-icon {
  color: $clr-check;
  font-size: 1.2rem;
}
.cancel-icon {
  color: $clr-dark-orange;
  font-size: 1.2rem;
}
.out{
  color: red;
  font-size: 1.2rem;
}
.draft{
  color: orange;
  font-size: 1.2rem;
}
.pagination {
  background-color: $clr-gray200;
  padding: 0.5rem;
  position: absolute;
  bottom: 1%;
  width: calc(100% - 32px);
}
.pagi{
  width: calc(100.7% - 32px) !important;
}

.login-form, .fc-form-group  {
  margin: 0;
  padding: 0 0 15px 0;
  display: block;
  font-size: 0.9rem;

  label {
    color: $clr-dark-blue;
    font-weight: 600;
    padding: 0 0 6px 0;
    margin: 0;
  }

  button {
    background-color: #ffffff;
    border: 1.5px solid $clr-dark-blue;
    color: $clr-dark-blue;
    font-weight: 600 !important;
    padding: 0.2rem 1.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;

  }

  input {
    border: 1.5px solid $clr-gray200;
    width: 100%;
    padding: 10px;
    height: 32px;
    color: $clr-label-name;
  }

  input::placeholder {
    color: $clr-label-name;
  }

  input:focus {
    outline: none;
  }
  .search-box {
    position: relative;
  }
  .search-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: $clr-dark-blue;
  }

  textarea {
    border: 1.5px solid $clr-gray200;
    width: 100%;
    padding: 10px;
    color: $clr-label-name;
  }
  textarea::placeholder {
    color: $clr-label-name;
  }

  textarea:focus {
    outline: none;
  }
}
.fc-form-group, .fc-select-form-group{
  margin-top: 1rem ;
  padding-bottom: 0;

}
.signup-check {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0 15px 0;
  color: $clr-dark-blue;

  label {
    padding: 6px 0 0 0;
    margin: 0;
    font-size: 0.9rem;
  }
}
.btn-save {
  display: flex;
  text-align: end;
  align-items: flex-start;
  justify-content: flex-end;
  .custom-btn {
    width: 20%;
    justify-content: center;
    padding: 0.3rem 1rem !important;
  }
  .Cancel-btn {
    background-color: white !important;
    border: 1.5px solid $clr-dark-blue !important;
    color: $clr-dark-blue !important;
    width: 20%;
    justify-content: center;
    padding: 0.2rem 1rem !important;
    font-weight: 600;
    margin-left: 1rem;
  }
}
.editor {
  label {
    color: $clr-dark-blue;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0 6px 0;
    margin: 0;
  }
  .wrapper-class {
    padding: 1rem;
    border: 1px solid $clr-gray200;
    margin-bottom: 1rem;
  }
  .editor-class {
    padding: 1rem;
    border: 1px solid $clr-gray200;
    min-height: 15rem;
    max-height: 50rem;
  }
  .toolbar-class {
    border: 1px solid $clr-gray200;
  }
}
.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-transform: capitalize;
  color: $clr-label-name;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1.5px solid $clr-gray200;
  margin-top: 1rem;
  cursor: pointer;
  .sub-tab {
    padding: 0.5rem 1.4rem !important;
  }
  .active-tab {
    border-bottom: 2px solid $clr-dark-orange;
    color: $clr-dark-blue;
  }
}
.sort {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  label {
    color: $clr-dark-blue;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0 6px 0;
    margin: 0;
  }
  .sort-by-select-wrapper {
    display: inline-block;
    .sort-by-select {
      border-radius: 0rem;
      color: $clr-label-name;
      font-size: 0.9rem;
      font-weight: 400;
      border: 2px solid $clr-gray200;
      > .MuiSelect-select {
        padding: 0.7rem 2rem 0.7rem 0.7rem;
        font-size: 0.9rem;
      }
      fieldset {
        top: 0;
      }
    }
  }
}
.photo {
  height: 12rem;
  text-transform: capitalize;
  .label {
    color: $clr-dark-blue;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0 6px 0;
    margin: 0;
  }
  .photo-box {
    border: 1px solid $clr-gray200;
    height: 8rem;
    width: 8rem;
    .photo-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 8rem;
      color: $clr-dark-blue;
      margin-bottom: 0.5rem;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      // background-color: $clr-label-name !important;
      .image-icon {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .label {
        color: $clr-dark-blue;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .file {
      font-size: 1rem;
      font-weight: 600;
      color: $clr-dark-blue;
      display: flex;
      border: 1.5px solid $clr-dark-blue;
      justify-content: center;
      align-content: center;
      cursor: pointer;
    }
  }
  input{
    display: none;
  }
}
.error-message{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: $clr-dark-blue;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
.pagiantion-category {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  .MuiPagination-root {
    .MuiPagination-ul {
      flex-wrap: nowrap;
      color: $clr-dark-blue;
      li {
        button:not(.Mui-selected) {
          background-color: "transparent";
          color: $clr-dark-blue;
        }
        .Mui-selected {
          background-color: white;
          color: $clr-dark-blue;
          border-radius: 50%;
          border: 1.5px solid $clr-dark-blue !important;
        }
        &:first-child {
          flex-basis: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          > button::after {
            margin-left: 10px;
            content: "Previous";
          }
        }
        &:last-child {
          flex-basis: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          > button::before {
            margin-right: 10px;
            content: "Next";
          }
        }
      }
    }
  }
}
.expertise{
  color: $clr-dark-blue;
  font-weight: 600;
    padding: 0 0 6px 0;
    margin: 0;
}
.btn{
  &.btn-primary{
    background: #f54a00;
    border-color: #f54a00;
    border-radius: 0;
    &:focus{
      box-shadow: 0 0 0 0.25rem #f54a0050;
    }
  }
}
.cancel{
  .btn{
    &.btn-primary{
      background: white;
      border-color: $clr-dark-blue;
      color: $clr-dark-blue;
      border-radius: 0;
      font-weight: 500;
    }
  }
}
.text-danger {
  color: #dc3545!important;
}
.form-text {
  display: block;
  margin-top: 0.25rem;
}
.cat-check{
  color: $clr-dark-blue;
  .margin-check{
    margin: 0.5rem 0rem 1rem 1rem;
  }
}
.notes{
  color: $clr-dark-blue;
  font-size: 1rem;
  .info-icon{
    font-size: 1rem;
  }
}
.view-pdf{
  width:10rem;
  justify-content: center !important;
}
.addnew{
  color: #837c7a;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
}
.icon{
  color: #383838;

}
.noVisi{
  display: none;
}
.delete-icon{
  font-size: 1.2rem;
  color: #dc3545;
  cursor: pointer;
}

.multiselect{
  display: flex !important;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info-icon{
  font-size: 1rem;
  margin-left: 0.5rem;
}

.point-text{
  cursor: pointer;
}